.description-box{

  display:flex;
  position:absolute;
  width:auto;
  gap: 10px;
  left: 350px;
  margin-top: 90px;
  box-shadow:#dbdbdb 0 0 0 ;
}


.detail-box{

   position: absolute;
    background-color: #EFF2F1;
    /* width: 35%; */
    padding: 10px;
    margin: 5px auto;
    border-radius: 15px;
    left:-330px;
    height: 296px;
    box-shadow:#cc551F  2px 1px 9px 2px;
}


 h1{


font-size: calc(25px + 1vw);
   
}
.paragraphs{
margin-top: 30px;


}


.btn{
    border:1px solid #cc551F;
    padding: 10px 10px;
    background-Color:#cc551F;
    border-Radius:10px;
    transition: background-color 0.5s ease-in-out;
    text-decoration: none;
    bottom:10px;
    position:absolute;
    color: white;
    right:30px;
}
.btn:hover{
    background-color: gray;
    cursor: pointer;

}
.images{
 display: flex;
 position:absolute;
 right:0;  
 border: solid #dbdbdb;
 border-width: thick;
 border-radius: 10px;
 height:100px;
 top:162px;
 background-color:  #EFF2F1;
 padding: 5px;
 margin-top: -80px;
}

.images img{
width:100%;
margin-top: 50px;
height:240px;
align-items: center;

}

.backgroundimg{
min-height: 100vh;
background-image: url('./components/scarlett.jpeg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}