* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,html{
    scroll-behavior: smooth;
    
}

.nav-bar {
  position: relative;
}
.nav-item {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding:20px; */
  background: white;
  color: black;
  border-bottom: 1px solid black;
  padding: 20px 100px;
  width: 100%;
  top: 0;
  left: 0;
}
.nav-item li {
  list-style: none;
  cursor: pointer;
  font-size: calc(8px +1vw);
}
.nav-item li a {
  text-decoration: none;
  color: black;
  font-size: calc(10px + 1vw);
  transition: color 0.5s ease-in-out, text-decoration 0.5s ease-in-out;
}
.search {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px 100px;
}
.search-bar {
  display: flex;
  align-items: center;
}
.search-bar label {
  font-size: calc(10px + 1vw);
  padding: 0 20px;
}
.nav-item li a:hover {
  color: #cc551f;
  text-decoration: underline;
}

.container-img {
    position: absolute;
  }
  .container-img .img {
    width: 100%;
    height: auto;
   
  }
  .container-img .img img {
    width: 100%;
    height: auto;  
    max-height: 1000px;
    object-fit: cover;
  }
  /* animation image */
  .container-img {
    animation: changeCard 12s infinite;
  }
  
  .gallery-item .container-img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    animation-delay: 0s;
    transition: 0.5s ease;
  }
  .gallery-item .container-img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    animation-delay: 6s;
    transition: 0.5s ease;
  }
  .gallery-item .container-img:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    animation-delay: 9s;
    transition: 0.5s ease;
  }
  
  @keyframes changeCard {
    0%,
    55%,
    100% {
      opacity: 0;
      visibility: hidden;
    }
    5%,
    50% {
      opacity: 1;
      visibility: visible;
    }
  }

header {
  display: flex;
  position: relative;
  /* padding: 0 100px; */
  align-items: center;
  justify-content: center;
  width: 100%;
  /* flex-wrap: wrap; */
  height: 100vh;
 
}
.header {
  position: absolute;
  display: flex;
  align-items: center;
}
header img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.header h1 {
  position: absolute;
  display: flex;
  justify-content: center;
  color: white;
  font-size: calc(60px + 2vw);
  text-transform: uppercase;
  width: 100%;

}

.produit {
  background: #eff2f1;
  height: 100vh;
  position: relative;
}
.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.produit-box {
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.produit-box h2 {
  font-size: calc(25px + 2vw);
  font-weight: 800;
}
.produit-box a {
  font-size: calc(10px + 1vw);
  text-decoration: none;
  color: black;
  transition: color 0.5s ease-in-out;
 
}
.produit-box a:hover{
    color: #cc551f;
}
.img-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* flex-wrap: wrap; */
  padding: 100px;
  /* padding: 10px; */
  overflow: auto;
  
  
}
.img-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px ;

}
.img-card p {
    font-size: calc(5px + 1vw);
    color: black;
}

.img-card p strike {
    font-size: calc(8px + .5vw);
    color: gray;
}

.img-card img {
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  object-fit: cover;
  /* min-width: 250px; */
  max-width: 450px;
  max-height: 450px;
  border-width: thick;
  padding: 10px ;
}
.img-card:hover img{
    opacity: 0.3;
}
.img-card:hover  .middle{
    opacity: 1;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.seeMore a {
    color: white;
    font-weight: 600;
    font-size: calc(10px + 1vw);
    cursor: pointer;
    padding: 10px 10px;
    border: 1px solid #cc551f;
    background: #cc551f;
    border-radius: 5px;
  }

  .badge-overlay {
    position: absolute;
    left: 0%;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 100;
    transition: width 0.4s ease, height 0.4s ease;
  }
  .badge {
    margin: 0;
    padding: 0;
    color: white;
    padding: 10px 10px;
    font-size: calc(5px + .5vw);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
    background: #ed1b24;
  } 
  .top-left {
    position: absolute;
    top: 0;
    left: 0;
     transform: translateX(-30%) translateY(0%) rotate(-45deg);
    transform-origin: top right;
  }
.img-card a {
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img-card a h3 {
  color: #000;
  transition: color 0.5s ease-in-out;
}
.img-card a h3:hover {
  color: #cc551f;
}
.link-detail {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-detail a {
  text-decoration: none;
  color: white;
  border: 1px solid #cc551f;
  border-radius: 10px;
  background: #cc551f;
  padding: 12px 15px;
  font-size: calc(5px + 1vw);
  line-height: 5px;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out,
    border 0.5s ease-in-out;
}
.link-detail a:hover {
  color: #cc551f;
  background: transparent;
  border: 1px solid #cc551f;
}
hr{
    width: 100%;
    bottom: 0px;
    position: absolute;    
    left: 0;
    
}
  
.row {
     padding: 0 10px;
    flex-wrap: wrap;
  }
.column {
  position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
  }
  .column-item{
    position: relative;
  }
  .column-item h3{
    position: absolute;
    right: 30px;
    top: 50px;
    color: white;
    font-size: calc(15px + 1vw);
  }
  .column-item a {
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 250px;
    font-size: calc(10px + 1vw);
    right: 30px;
    cursor: pointer;
    font-weight: 300;
    transition: color .5s ease-in-out;
  }
  .column-item a:hover{
    color: #cc551f;
  }
  .column  p {
    position: absolute;
    top: 200px;
    color: white;
    font-size: calc(20px + 2vw);
    font-weight: 900;
    text-transform: uppercase;
    max-width: 450px;
    left: 50px;

  }

  .column .column-item p:nth-child(2){
    
    bottom: 200px;
    position: absolute;
  }
  .column img {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
  .column .column-item:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;

    
  }
  .column .column-item a:nth-child(2){
    bottom: 120px;
    grid-column:3 / span 1;
    grid-row: 1 / span 1;
   
    
  }
.column .column-item a:nth-child(3){ 
    grid-column: 3 ;
    grid-row: 2 / span 1; 
    
  }
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  .discount {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    height: 10vh;
  }
  .discount h2 {
    font-size: calc(10px + 2vw);
    font-weight: 600;
  }
  .form-subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .discount label {
    position: relative;
    /* left: 60px; */
    font-size: calc(10px + 1vw);
    padding: 11px  ;
    border: 1px solid #333;
    background: #333;
    color: white;
    cursor: pointer;
    transition:background  .5s ease-in-out,
    border .5s ease-in-out;
    line-height: 23px;
    
    
    
  }
  .discount label:hover {
    color: white;
    background: #cc551f;
    border: #cc551f;
  }
  .discount input {
   
    padding: 15px  100px;
    border: 1px solid #333;
    background: #dbdbdb;
    color: black;
    
  }
  .discout-text{
    /* left: 50px; */
    padding-left: 50px;
  }
  .discout-text p {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: justify;
    max-width:900px;
    font-size: calc(8px + 1vw);
    font-weight: 200;
    
  }
  .AllProduits{
    position: relative;
    background: #EFF2F1;
    

    top: 1800px;
    /* bottom: -1000px; */
    height: 100vh;
  }
.box-produits {
    position: relative;
    display: flex;
    align-items: center;;
    justify-content: center;
    flex-direction: column;
    top: 50px;
    
}
.box-produits h2 {
    font-size: calc(10px + 2vw);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
  

}
.box-produits ul {
    position: relative;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    width: 100%;
}
.box-produits ul li a {
    text-decoration: none;
    color: black;
    font-size: calc(10px + 1vw);
    cursor: pointer;
    transition: color .5s ease-in-out;
   
}
.box-produits ul li a:hover{
    color: #cc551f;
}

.pagination {
    display: inline-block;
    bottom:  40px;
    position: absolute;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    
    
  }
  
  .pagination a.active {
    background-color: #cc551f;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

  #myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #cc551f; 
    cursor: pointer; 
    color: white;
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
    transition: background .5s ease-in-out,
    color .5s ease-in-out;
  }
  
  #myBtn:hover {
    background: #555; 
    color: white;
  }

