* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
    --ColorOrange: rgb(246, 128, 31, 0.749);
}


body,
html {
  scroll-behavior: smooth;
}

.nav-bar {
  position: relative;
}
.nav-item {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding:20px; */
  background: white;
  color: black;
  border-bottom: 1px solid black;
  padding: 20px 100px;
  width: 100%;
  top: 0;
  left: 0;
}
.nav-item li {
  list-style: none;
  cursor: pointer;
  font-size: calc(8px +1vw);
}
.nav-item li a {
  text-decoration: none;
  color: black;
  font-size: calc(10px + 1vw);
  transition: color 0.5s ease-in-out, text-decoration 0.5s ease-in-out;
}
.search {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px 100px;
}
.search-bar {
  display: flex;
  align-items: center;
}
.search-bar label {
  font-size: calc(10px + 1vw);
  padding: 0 20px;
}
.nav-item li a:hover {
  color: var(--ColorOrange);
  text-decoration: underline;
}

.container-img {
  position: absolute;
}
.container-img .img {
  width: 100%;
  height: auto;
}
.container-img .img img {
  width: 100%;
  height: auto;
  max-height: 1000px;
  object-fit: cover;
}
/* animation image */
.container-img {
  animation: changeCard 15s infinite;
}

.gallery-item .container-img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  animation-delay: 0s;
  transition: 0.5s ease;
}
.gallery-item .container-img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  animation-delay: 6s;
  transition: 0.5s ease;
}
.gallery-item .container-img:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  animation-delay: 10s;
  transition: 0.5s ease;
}

@keyframes changeCard {
  0%,
  60%,
  100% {
    opacity: 0;
    visibility: hidden;
  }
  5%,
  50% {
    opacity: 1;
    visibility: visible;
  }
}

header {
  display: flex;
  position: relative;
  /* padding: 0 100px; */
  align-items: center;
  justify-content: center;
  width: 100%;
  /* flex-wrap: wrap; */
  height: 100vh;
}
.header {
  position: absolute;
  display: flex;
  align-items: center;
}
header img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.header h1 {
  position: absolute;
  display: flex;
  justify-content: center;
  color: white;
  font-size: calc(60px + 2vw);
  text-transform: uppercase;
  width: 100%;
}

.produit {
  background: #eff2f1;
  height: 100vh;
  position: relative;
}
.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.produit-box {
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.produit-box h2 {
  font-size: calc(25px + 2vw);
  font-weight: 800;
}
.produit-box a {
  font-size: calc(10px + 1vw);
  text-decoration: none;
  color: black;
  transition: color 0.5s ease-in-out;
}
.produit-box a:hover {
color: var(--ColorOrange);
}

.img-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* flex-wrap: wrap; */
  padding: 100px;
  /* padding: 10px; */
  overflow: auto;
}
.img-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.img-card p {
  font-size: calc(5px + 1vw);
  color: black;
}

.img-card p strike {
  font-size: calc(8px + 0.5vw);
  color: gray;
}

.img-card button {
  text-decoration: none;
  list-style: none;
  color: transparent;
  background: transparent;
  border: none;
}
.addto {
   text-decoration: none;
  color: white;
  border: 1px solid var(--ColorOrange);
  border-radius: 10px;
  background: var(--ColorOrange);
  padding: 12px 15px;
  font-size: calc(5px + 1vw);
  line-height: 5px;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out,
    border 0.5s ease-in-out;
    cursor: pointer;
}

.img-card img {
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  object-fit: cover;
  /* min-width: 250px; */
  max-width: 450px;
  max-height: 450px;
  border-width: thick;
  padding: 10px;
}
.img-card:hover img {
  opacity: 0.3;
}
.img-card:hover .middle {
  opacity: 1;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.seeMore a {
  color: white;
  font-weight: 600;
  font-size: calc(10px + 1vw);
  cursor: pointer;
  padding: 10px 10px;
  border: 1px solid var(--ColorOrange);
  background: var(--ColorOrange);
  border-radius: 5px;
}

.badge-overlay {
  position: absolute;
  left: 0%;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 100;
  transition: width 0.4s ease, height 0.4s ease;
}
.badge {
  margin: 0;
  padding: 0;
  color: white;
  padding: 10px 10px;
  font-size: calc(5px + 0.5vw);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: normal;
  text-transform: uppercase;
  background: #ed1b24;
}
.top-left {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-30%) translateY(0%) rotate(-45deg);
  transform-origin: top right;
}
.img-card a {
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img-card a h3 {
  color: #000;
  transition: color 0.5s ease-in-out;
}
.img-card a h3:hover {
  color: var(--ColorOrange);
}
.link-detail {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-detail a {
  text-decoration: none;
  color: white;
  border: 1px solid var(--ColorOrange);
  border-radius: 10px;
  background: var(--ColorOrange);
  padding: 12px 15px;
  font-size: calc(5px + 1vw);
  line-height: 5px;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out,
    border 0.5s ease-in-out;
}
.link-detail a:hover {
  color: var(--ColorOrange);
  background: transparent;
  border: 1px solid var(--ColorOrange);
}
hr {
  width: 100%;
  bottom: 0px;
  position: absolute;
  left: 0;
}

.row {
  padding: 0 10px;
  flex-wrap: wrap;
}
.column {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.column-item {
  position: relative;
}
.column-item h3 {
  position: absolute;
  right: 30px;
  top: 50px;
  color: white;
  font-size: calc(15px + 1vw);
}
.column-item a {
  text-decoration: none;
  color: white;
  position: absolute;
  bottom: 250px;
  font-size: calc(10px + 1vw);
  right: 30px;
  cursor: pointer;
  font-weight: 300;
  transition: color 0.5s ease-in-out;
}
.column-item a:hover {
  color: var(--ColorOrange);
}
.column p {
  position: absolute;
  top: 200px;
  color: white;
  font-size: calc(20px + 2vw);
  font-weight: 900;
  text-transform: uppercase;
  max-width: 450px;
  left: 50px;
}

.column .column-item p:nth-child(2) {
  bottom: 200px;
  position: absolute;
}
.column img {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.column .column-item:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.column .column-item a:nth-child(2) {
  bottom: 120px;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.column .column-item a:nth-child(3) {
  grid-column: 3;
  grid-row: 2 / span 1;
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.discount {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
  height: 10vh;
}
.discount h2 {
  font-size: calc(10px + 2vw);
  font-weight: 600;
}
.form-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
}
.discount label {
  position: relative;
  font-size: calc(10px + 1vw);
  padding: 11px;
  border: 1px solid #333;
  background: #333;
  color: white;
  cursor: pointer;
  transition: background 0.5s ease-in-out, border 0.5s ease-in-out;
  line-height: 23px;
}
.discount label:hover {
  color: white;
  background: var(--ColorOrange);
  border: var(--ColorOrange);
}
.discount input {
  padding: 15px 100px;
  border: 1px solid #333;
  background: #dbdbdb;
  color: black;
}
.discout-text {
  /* left: 50px; */
  padding-left: 50px;
}
.discout-text p {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: justify;
  max-width: 900px;
  font-size: calc(8px + 1vw);
  font-weight: 200;
}
.AllProduits {
  position: relative;
  background: #eff2f1;
  top: 1800px;
  height: 110vh;
}
.box-produits {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 50px;
}
.box-produits h2 {
  font-size: calc(10px + 2vw);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.box-produits ul {
  position: relative;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  width: 100%;
}
.box-produits ul li a {
  text-decoration: none;
  color: black;
  font-size: calc(10px + 1vw);
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}
.box-produits ul li a:hover {
  color: var(--ColorOrange);
}

.pagination {
  display: inline-block;
  bottom: 40px;
  position: absolute;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: var(--ColorOrange);
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--ColorOrange);
  cursor: pointer;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

#myBtn:hover {
  background: transparent;
  color: var(--ColorOrange);
  border: 1px solid var(--ColorOrange);
}
.box-cart {
  position: relative;
  display: flex;
  align-items: center;
  background: #eff2f1;
  height: 100vh;
  width: 100%;
  
}
.box-title {
  position: absolute;
  background: var(--ColorOrange);

  width: 100%;
  height: 40%;
  top: 0;
  left: 0;
}
.box-title h2 {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 60px;
  width: 100%;
  font-size: calc(30px + 2vw);
  font-weight: 600;
  text-transform: uppercase;
  color: #eff2f1;
}
.box-title img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .4;
}
.detail-product {
  position: absolute;
  width: 100%;
}
.detail-name {
  position: relative;
  display: flex;
  justify-content: space-around;
  top: 20px;
  width: 100%;

}
.detail-name p {
  font-size: calc(10px + 1vw);
  font-weight: 600;
}
.detail-name hr {
  /* width: 100%; */
  padding: 0 100px;
  left: 0;
  top: 40px;
}
.box-cart-product {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 150px;
  width: 100%;
  overflow-y: auto;
  height: 50vh;
  padding: 0  100px;
}
.remove {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: calc(8px + 1vw);
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;

 
}
.remove li {
  position: relative;
  display: flex;
  justify-content:center;
  margin-top: 80px;
  width: 100%;
  max-height: 40px;
}
.add {
  position: absolute;
  display: flex;
  background: var(--ColorOrange);
  padding: 5px 30px;
  color: white;
  font-size: calc(5px + 1vw);
  font-weight: 600;
  border-radius: 25px;
  bottom:10px;
  cursor: pointer;
  right: 300px;
}
.btn-remove {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  color: white;
  border-radius: 10px;
  padding: 10px 10px;
  line-height: 2px;
  font-size: calc(5px + 1vw);
  cursor: pointer;
  width: 50%;
}
.price {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: calc(5px + 1vw);
}
.price img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  left: 0;
}
.description {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + .2vw);
  font-weight: 200;
  width: 100%;
  text-transform: lowercase;
}
.product-total {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.product-total p {
  position: absolute;
  display: flex;
  font-size: calc(10px + 1vw);
  font-weight: 800;
  text-transform: uppercase;
  /* top: 380px; */
  top: 440px;
  right: 120px;
}
.product-total a {
  position: absolute;
  display: flex;
  text-decoration: none;
  background: var(--ColorOrange);
  padding: 5px 20px;
  color: white;
  font-size: calc(10px + 1vw);
  font-weight: 600;
  border-radius: 15px;
  /* top: 380px; */
  top: 440px;

  
  cursor: pointer;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}
.product-total a:hover {
  background: transparent;
  color: var(--ColorOrange);
  border: 1px solid var(--ColorOrange);
}
.continue {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  font-weight: 600;
}
.continue a {
  color: #fff;
  padding: 5px 40px;
  font-size: calc(5px + 1vw);
  font-weight: 600;
  text-decoration: none;
  background: var(--ColorOrange);
  border-radius: 25px;
  border: 1px black solid;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}
.continue a:hover {
  background: transparent;
  color: var(--ColorOrange);
  border: 1px solid var(--ColorOrange);
}
