/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
} */
body {
    margin: 0;
    /* font-family: ; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url("../../images/salonconnexionjpg.jpg") ; */
    /* border: 3px solid palevioletred; */
    
}
.pageConnexion{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
/* border: 3px solid rgb(180, 29, 147); */


  
}
.pageConnexion img{
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
    position: absolute;
    flex-direction: column;
    transform: translate(-50%,);
    width: 50%;
    height: 65%;
    margin-bottom: 125px;
    background: rgba(255, 255, 255, 0.653);
    border: 10px solid rgba(255, 255, 255, 0.751);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    font-weight: 900;
    /* border: 3px solid rgb(112, 200, 216); */

   
}

.title2{
    display: flex;
    align-items: center;
    color:rgba(246, 128, 31, 0.749);
    flex-direction:initial;
    justify-content: center;
    margin: 20px 0 50px 0;
    font-size: calc(20px + 2vw); 
    font-weight: 700;
    /* border: 5px solid blue; */

}

/* .text {
    border: 3px solid #d32828;
    display: flex; 
    flex-direction:initial;
    align-items: center;
    justify-content: center;
    color:rgba(246, 128, 31, 0.749);
    /* responsive texte */
    /* font-size: calc(20px + 2vw); 
    font-weight: 700; */



.souligner {
    display: flex;  
    width: 40%;
    position:fixed;
    /* position: relative; */
    /* flex-direction:initial; */
    justify-content: center;
    height: 6px;
    border-radius: 9px;
    /* border: 6px solid rgba(31, 246, 121, 0.749); */
}

.inputs-Champs-infos-ensemble {
    margin: 24px 170px 6px 50px;
    padding: 0 0 10px 0;
    display: flex;
    width: 63%;
    height: 40%;
    flex-direction: column;
    gap: 35px;
    /* border: 3px solid orangered; */
    font-size: calc(10px + 1vw);
}

.input-champs-infos-indiv {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    font-size: calc(10px + 2vw);
    background: rgba(200, 115, 40, 0.621);
    border-radius: 6px;
    /* border: 3px solid red; */
    padding: 3px 10px;
  
    
}

.input-champs-infos-indiv input { /* input dans input là ou on écrit les champs (email et mdp)*/
    height: 50px;
    width: 70%;
    background: transparent;
    border:none;
    outline: none;
    color: rgb(248, 245, 245);
    font-size: 25px;
    font-size: calc(0px + 2vw);
    /* border: 5px solid green; */
}

.img-utilisateur img{
    width: 5%;
    margin: 0px 5px -10px 5px;
    

}
.img-email img{
    width: 5%;
    margin: 0px 5px -5px 5px;
}
.img-cadenas img{
    width: 5%;
    margin: 0px 5px -5px 5px;
}

.forgot-password{ /*Mot de passe oublié*/
    display: flex;
    position: relative;
    /* margin: 18px 0 11px 0; */
    /* width: 95%; */
    color: rgb(70, 67, 67);
    font-size: 30px;
    justify-content:end;
    /* bottom:50px; */
    gap: 18px;
   
}

.forgot-password span{ /*Cliquez ici*/
    color: #f1740e;
    cursor: pointer;
    font-weight: 900;

}
/* bouton s'inscrire*/
 .buttonLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(200, 115, 40, 0.541);
    border-radius: 50px;
    font-weight: 700;
    cursor: pointer;
    margin: 0px 0px 29px 45px;
    font-size: 38.4px;
    padding: 10px 20px;
    border:none;
    /* border: 1px solid red; */

} 

.subscribe{
    text-decoration: none;
    display: flex;
    position: relative;
    color: white;
    background: rgba(200, 115, 40, 0.541);
    border-radius: 50px;
    font-weight: 700;
    cursor: pointer;
    justify-content: end;
    font-size: 38.4px;
    margin: 39px 235px;
    padding: 10px 14px 10px 15px;
    /* border: 1px solid green; */
}

.boutons{
    display: flex;
}

.sub2{ /*S'inscrire*/
    position: absolute;
    bottom:20px;
    border: 3px solid;
}

.gray{
    background: #eaeaea;
    color: #f1740e;
    font-size: calc(0px + 2vw);

}

/* @media screen and (min-width: 780px) {
margin: auto;
padding: auto;
width: 90%;
}

@media screen and (min-width: 350px) {
margin: auto;
padding: auto;
width: 10%;
} */