/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
} */
body {
    margin: 0;
    font-family: ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url("../../images/salonconnexionjpg.jpg") ; */
    
}
.pageConnexion{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

  
}
.pageConnexion img{
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
    position: absolute;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    /* left: 50%; */
    transform: translate(-50%,);
    width: 50%;
    height: 65%;
    /* margin: 0px; */
    /* margin-top: 0px; */
    margin-bottom: 125px;
    background: rgba(255, 255, 255, 0.653);
    border: 10px solid rgba(255, 255, 255, 0.751);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    padding: 10px 0 0 0;
    font-weight: 900;
   
}

.text {
    /* border:1px solid #923f3f; */
    display: flex; 
    flex-direction:initial;
    align-items: center;
    justify-content: center;
    color:rgba(246, 128, 31, 0.749);
    /* responsive texte */
    font-size: calc(10px + 2vw); 
    font-weight: 700;



}

.underline {
    width: 40%;
    height: 6px;
    background: rgba(246, 128, 31, 0.749);
    border-radius: 9px;
}

.inputs-Champs-infos-ensemble {
    margin: 85px 170px 6px 50px;
    display: flex;
    width: 63%;
    height: 50%;
    flex-direction: column;
    gap: 25px;
    /* border: 3px solid orangered; */
    font-size: calc(10px + 1vw);
}

.input-champs-infos-indiv {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    font-size: calc(10px + 2vw);
    background: rgba(200, 115, 40, 0.621);
    border-radius: 6px;
    /* border: 3px solid red; */
    padding: 0 10px;
  
    
}

.input-champs-infos-indiv input { /* input dans input là ou on écrit les champs (email et mdp)*/
    height: 50px;
    width: 70%;
    background: transparent;
    border:none;
    outline: none;
    color: rgb(248, 245, 245);
    font-size: 25px;
    font-size: calc(0px + 2vw);
    /* border: 5px solid green; */
}

.img-utilisateur img{
    width: 5%;
    margin: 0px 5px -10px 5px;
    

}
.img-email img{
    width: 5%;
    margin: 0px 5px -5px 5px;
}
.img-cadenas img{
    width: 5%;
    margin: 0px 5px -5px 5px;
}

.forgot-password{ /*Mot de passe oublié*/
    display: flex;
    margin: 18px 0 11px 0;
    width: 95%;
    color: rgb(70, 67, 67);
    font-size: 22px;
    justify-content: center;
}

.forgot-password span{ /*Cliquez ici*/
    color: #f1740e;
    cursor: pointer;
    font-weight: 900;

}

.submit-container{
    display: flex;
    gap: 30px;
    margin: auto;
    font-size: calc(0px + 2vw);

}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 59px;
    color: white;
    background: rgba(200, 115, 40, 0.541);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    font-size: calc(0px + 2vw);

}

.gray{
    background: #eaeaea;
    color: #f1740e;
    font-size: calc(0px + 2vw);

}

@media screen and (min-width: 780px) {
margin: auto;
padding: auto;
width: 90%;
}

@media screen and (min-width: 350px) {
margin: auto;
padding: auto;
width: 10%;
}